/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Regular'), url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: local('Inter Medium'), url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: local('Inter SemiBold'), url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Libertinus Serif';
  font-weight: 400;
  font-style: normal;
  src: local('Libertinus Serif Regular'), url('../fonts/LibertinusSerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Libertinus Serif';
  font-weight: 400;
  font-style: italic;
  src: local('Libertinus Serif Italic'), url('../fonts/LibertinusSerif-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Libertinus Serif';
  font-weight: 700;
  font-style: normal;
  src: local('Libertinus Serif Bold'), url('../fonts/LibertinusSerif-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Libertinus Serif';
  font-weight: 700;
  font-style: italic;
  src: local('Libertinus Serif Bold Italic'), url('../fonts/LibertinusSerif-BoldItalic.woff2') format('woff2');
}

:root {
  --xs-space: 0.5em;
  --md-space: 0.75em;
  --lg-space: 1em;
  --xl-space: 1.5em;
  --sans-type: 'Inter', sans-serif;
  --serif-type: 'Libertinus Serif', Georgia, serif;
  --bg-color: #bfc7c6;
  --text-color: #262C2B;
  --text-color-rgb: 28, 33, 32;
  --white-color: #fff;
}

html {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

 body {
   color: var(--text-color);
   font-size: 1em;
   font-family: var(--serif-type);
   line-height: 1.3;
 }

 /* Typography
 */

 h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: var(--sans-type);
  font-weight: 600;
  line-height: 1;
}

 h1 { font-size: 3rem; }
 h2 { font-size: 2.5rem; }
 h3 { font-size: 2rem; }
 h4 { font-size: 1.5rem; }
 h5 { font-size: 1.25rem; }
 h6 { font-size: 1rem; }

 h1:not(:first-child),
 h2:not(:first-child),
 h3:not(:first-child),
 h4:not(:first-child),
 h5:not(:first-child),
 h6:not(:first-child) { margin-top: var(--xl-space); }

 h1:not(:last-child),
 h2:not(:last-child),
 h3:not(:last-child),
 h4:not(:last-child),
 h5:not(:last-child),
 h6:not(:last-child) { margin-bottom: var(--xs-space); }

 blockquote {
   font-size: 1.25em;
   font-style: italic;
 }

 p:not(:last-child) {
   margin-bottom: var(--xl-space);
 }

 ul:not(:last-child),
 ol:not(:last-child) {
   margin-bottom: var(--xl-space);
 }

 li:not(:last-child) {
   margin-bottom: var(--xs-space);
 }

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

 a {
  color: var(--text-color);
  transition: all 0.3s ease-in;
 }

 a:hover {
   opacity: 0.7;
 }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  padding-left: var(--xl-space);
  padding-right: 0;
  padding-top: calc(2 * var(--xl-space));

}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-column-gap: 3em;
}


@media screen and (max-width: 800px) {
  .grid {
    display: block;
  }

  .main-nav {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1320px) {}

.content {
   font-size: 1.25em;
   margin-bottom: calc(2 * var(--xl-space));
}

.block {
  padding: var(--xl-space) var(--md-space);
}

blockquote {
  margin-right: 0;
  margin-left: var(--xl-space);
  margin-bottom: calc(2 * var(--xl-space));
}

blockquote p:first-child {
  margin-bottom: var(--xs-space);
}

blockquote p:nth-child(2) {
  font-size: 80%;
  opacity: 0.8;
}

.content a {
  font-weight: 700;
}

.content p + ul,
.content p + ol {
  margin-top: calc(var(--lg-space) * -1);
}

.content h2 + h3 {
  margin-top: 0;
}

.content ol,
.content ul {
  margin-left: var(--lg-space);
  padding-left: var(--lg-space);
}

.content ul li {
  list-style-type: disc;
}

#colofon + ul,
#agradecimentos + ul {
  font-size: 90%;
}

#colofon + ul li:not(:last-child),
#agradecimentos + ul li:not(:last-child) {
  margin-bottom: var(--xs-space);
}

.main-nav {
  /*width: 20rem;*/
  font-size: 85%;
  padding-top: var(--xl-space);
}

.main-nav .block {
  border-left: 1px solid #fff;
  position: sticky;
  top: calc(2 * var(--xl-space));
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-height: 720px) {
  .main-nav .block {
    max-height: 95vh;
    margin: auto 0;
    padding-right: var(--lg-space);
  }
}

.main-nav ul {
  font-family: var(--sans-type);
  margin: 0;
  padding: 0;
}

.main-nav ul ul {
  margin-top: calc(var(--xs-space) / 2);
  margin-bottom: var(--lg-space);
  margin-left: var(--md-space);
}


@media screen and (min-width: 801px) and (max-height: 750px){
  .main-nav .toc ul li ul {
    display: none;
  }
}

.main-nav li {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2;
}

.main-nav li li {
  font-size: 0.8125em;
  font-weight: 600;
}

.main-nav li:not(:last-child) {
  margin-bottom: calc(var(--xs-space) / 2);
}

.main-nav a {
  color: var(--white-color);
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
  opacity: 1;
}
