<!doctype html>
<html class="no-js" lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Relatório Público Stayaway</title>
  <meta name="description" content="Para sabermos fazer melhor da próxima. —D3, Associação pela Defesa dos Direitos Digitais">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Relatório Público Stayaway">
  <meta property="og:description"
        content="Para sabermos fazer melhor da próxima. —D3, Associação pela Defesa dos Direitos Digitais">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://stayaway.direitosdigitais.pt/">
  <meta property="og:image" content="https://stayaway.direitosdigitais.pt/relatorio-stayaway-d3.png">

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="icon.png">
  
  <link rel="stylesheet" href="css/minireset.min.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#bfc7c6">
</head>

<body>

<div class="container">
  <header class="block">
    <h1>Relatório Público Stayaway</h1>
  </header>
  <div class="grid">
    <div class="content">
      <section id="intro">
        <div class="block">
            {{ intro }}
        </div>
      </section><!-- /#intro -->

      <section id="motivos">
        <div class="block">
          {{ eventos }}
        </div>
      </section><!-- /#motivos -->

      <section id="eventos">
        <div class="block">
          {{ motivos }}
        </div>
      </section><!-- /#motivos -->

      <section id="conclusoes">
        <div class="block">
          {{ conclusoes }}
        </div>
      </section><!-- /#conclusoes -->

    </div><!-- /.content -->


    <nav class="main-nav">
      <div class="block">
        {{ toc }}
      </div>
    </nav>
  </div><!-- /.grid -->

</div><!-- /.container -->

</body>

</html>
